<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Doyle Daily Fantasy</a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a ui-sref="home">Home</a></li>
              <li><a ui-sref="frontPage">Sign Up</a></li>
            </ul>
          </div>
        </div>
  </nav>
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="login.username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="login.password">
        </div>
      </div>
      <div class="form-group col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" ng-click="login()">Submit</button>
      </div>
    </fieldset>
  </form>
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.username">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
        </div>
      </div>
      <div class="form-group col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" ng-click="addUser()">Signup</button>
      </div>
    </fieldset>
  </form>
</div>
