.jumbo1 {
  padding-top: 100px;
}

.front {
  text-align: center;
}

.navbar-default {
  background-color: #79BD9A;
}

.background-picture {
  background: url("./odb.jpg");
}

body {
  padding-top: 70px;
}

th {
  cursor: pointer;
  text-decoration: underline;
}

.modal {
  display: block;
}

.pointy {
  cursor: pointer;
}
