<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">Doyle Daily Fantasy</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
  </nav>
  <h1>Wide Receiver Selection</h1>
  <div class="row">
    <div class="col-md-8">
      <table class = "table active">
        <tr>
          <th ng-click="orderByField = 'Name'; reverseSort=!reverseSort">Player</th>
          <th ng-click="orderByField = 'Salary'; reverseSort=!reverseSort">Salary</th>
          <th ng-click="orderByField = 'LastGameFantasyPoints'; reverseSort=!reverseSort">Last Game</th>
          <th ng-click="orderByField = 'ProjectedFantasyPoints'; reverseSort=!reverseSort">Projected</th>
        </tr>
        <tr ng-repeat="athlete in athletes | orderBy:orderByField:reverseSort">
          <td ng-click="open()" class="pointy">{{athlete.ShortName}}</td>
          <td>${{athlete.Salary}}</td>
          <td>{{athlete.LastGameFantasyPoints}}</td>
          <td>{{athlete.ProjectedFantasyPoints}}</td>
        </tr>
      </table>
      <div>
      <script type="text/ng-template" id="myModalContent.html"/>
        <div class="modal-header">
          <h3 class="modal-title">Season Stats</h3>
        </div>
        <table class = "table active">
          <tr>
            <th>Week</th>
            <th>Opponent</th>
            <th>Projected Points</th>
            <th>Actual Stats</th>
            <th>Projection/Performance Differential</th>
          </tr>
          <tr>
            <td>{{week}}</td>
            <td>{{player.Opponent}}</td>
            <td>{{player.FantasyPointsPPR}}</td>
            <td>{{actual}}</td>
            <td>{{difference}}</td>
          </tr>
        </table>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
      </script>
    </div>

    <div class="col-md-4">
      <table class="table active">
      <tr>
        <th>Selected Receivers</th>
        <th>Salary</th>
      </tr>
        <tr>
          <td>Player 1</td>
          <td>$xxxx</td>
        </tr>
      </tr>
      <tr>
          <td>Player 2</td>
          <td>$xxxx</td>
      </tr>
      <tr>
          <td>Player 3</td>
          <td>$xxxx</td>
      </tr>
      <tfoot>
          <td>Total:</td>
          <td>$xxxx</td>
      </tfoot>
      </div>
  </div>
</div>
