<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="home">Doyle Daily Fantasy</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><a ui-sref="home">Home</a></li>
          <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
  </nav>
  <h1>Antonio Brown Stats</h1>
  <table class = "table active">
    <tr>
      <th>Week</th>
      <th>Home/Away</th>
      <th>Opponent</th>
      <th>Playing Surface</th>
      <th>Projected Stats</th>
      <th>Points</th>
      <th>Projection/Performance Differential</th>
    </tr>
    <tr ng-repeat="player in players">
      <td>{{player.Week}}</td>
      <td>{{player.HomeOrAway}}</td>
      <td>{{player.Opponent}}</td>
      <td>{{player.PlayingSurface}}</td>
      <td>{{player.Projection}}</td>
      <td>{{player.FantasyPointsFanDuel}}</td>
      <td>{{player.Difference}}</td>
    </tr>
  </table>

  <highchart id="chart1" config="chartConfig"></highchart>
</div>
