<div class="container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="home">Doyle Daily Fantasy</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <table class="table active">
    <tr>
      <th>Lineup ID</th>
      <th>Lineup Week</th>
      <th>Projected Points</th>
      <th>Results</th>
    </tr>
    <tr ng-repeat="lineup in lineups">
      <td>{{lineup._id}}</td>
      <td>{{lineup.week}}</td>
      <td>{{lineup.projection}}</td>
      <td>{{lineup.results}}</td>
    </tr>
  </table>
</div>
